<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amaze_ing.mm.amazeandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/NoActionBarTheme">
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="@string/app_name"
            android:theme="@style/NormalTheme" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/RegisterTheme" />
        <activity android:name=".TutorialActivity" />
        <activity
            android:name=".GuideActivity"
            android:label="@string/app_name"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".MessagingActivity"
            android:label="@string/app_name"
            android:theme="@style/NormalTheme"/>
    </application>

</manifest>